[pyrogram]
api_id = [DATA EXPUNGED]
api_hash = [DATA EXPUNGED]

[plugins]
root = plugins
include =
    handlers.command
    handlers.message

[proxy]
enabled = False
hostname = 127.0.0.1
port = 1080

[basic]
bot_token = [DATA EXPUNGED]
prefix = /!

[bots]
avatar_id = [DATA EXPUNGED]
captcha_id = [DATA EXPUNGED]
clean_id = [DATA EXPUNGED]
lang_id = [DATA EXPUNGED]
long_id = [DATA EXPUNGED]
noflood_id = [DATA EXPUNGED]
noporn_id = [DATA EXPUNGED]
nospam_id = [DATA EXPUNGED]
recheck_id = 1
tip_id = [DATA EXPUNGED]
user_id = [DATA EXPUNGED]
warn_id = [DATA EXPUNGED]

[channels]
critical_channel_id = [DATA EXPUNGED]
debug_channel_id = [DATA EXPUNGED]
exchange_channel_id = [DATA EXPUNGED]
hide_channel_id = [DATA EXPUNGED]
logging_channel_id = [DATA EXPUNGED]
test_group_id = [DATA EXPUNGED]

[custom]
aio = False
backup = False
date_reset = 1st mon
default_group_link = https://t.me/SCP_079_DEBUG
image_size = 2097152
invalid = admin admins BotFather gamebot gif SpamBot Stickers telegram vote
limit_track = 8
project_link = https://scp-079.org/noporn/
project_name = SCP-079-NOPORN
threshold_porn = 0.8
time_ban = 10800
time_new = 1800
time_punish = 60
time_short = 300
time_track = 3600
zh_cn = True

[emoji]
emoji_ad_single = 15
emoji_ad_total = 30
emoji_many = 15
emoji_protect = \U0001F642
emoji_wb_single = 10
emoji_wb_total = 15

[encrypt]
key = [DATA EXPUNGED]
password = [DATA EXPUNGED]
